
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa; 
  overflow-x: hidden; 
  display: flex;
  flex-direction: column;
}


.main-content {
  flex: 1; 
  padding: 20px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}


footer {
  background-color: #007bff;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  flex-shrink: 0; 
}

footer p {
  margin: 0;
}


.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
